In [78]:
# Initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from pathlib import Path

%matplotlib inline

In [79]:
 # Set a random seed for TensorFlow to allow reproducible testing results
tf.random.set_seed(126)

In [80]:
risk_df = pd.read_csv(Path('credit_risk_dataset.csv'))
risk_df = risk_df.drop(columns=['cb_person_default_on_file', 'cb_person_cred_hist_length', 'loan_percent_income'])
risk_df.isnull().sum()

person_age                  0
person_income               0
person_home_ownership       0
person_emp_length         895
loan_intent                 0
loan_grade                  0
loan_amnt                   0
loan_int_rate            3116
loan_status                 0
dtype: int64

In [81]:
risk_df.dropna()
risk_df.head(25)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1
6,26,77100,RENT,8.0,EDUCATION,B,35000,12.42,1
7,24,78956,RENT,5.0,MEDICAL,B,35000,11.11,1
8,24,83000,RENT,8.0,PERSONAL,A,35000,8.90,1
9,21,10000,OWN,6.0,VENTURE,D,1600,14.74,1
10,22,85000,RENT,6.0,VENTURE,B,35000,10.37,1
11,21,10000,OWN,2.0,HOMEIMPROVEMENT,A,4500,8.63,1
12,23,95000,RENT,2.0,VENTURE,A,35000,7.90,1
13,26,108160,RENT,4.0,EDUCATION,E,35000,18.39,1
14,23,115000,RENT,2.0,EDUCATION,A,35000,7.90,0
15,23,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,B,30000,10.65,0
16,23,120000,RENT,0.0,EDUCATION,A,35000,7.90,0
17,23,92111,RENT,7.0,MEDICAL,F,35000,20.25,1
18,23,113000,RENT,8.0,DEBTCONSOLIDATION,D,35000,18.25,1
19,24,10800,MORTGAGE,8.0,EDUCATION,B,1750,10.99,1
20,25,162500,RENT,2.0,VENTURE,A,35000,7.49,0
21,25,137000,RENT,9.0,PERSONAL,E,34800,16.77,0
22,22,65000,RENT,4.0,EDUCATION,D,34000,17.58,1
23,24,10980,OWN,0.0,PERSONAL,A,1500,7.29,0
24,22,80000,RENT,3.0,PERSONAL,D,33950,14.54,1

In [82]:
# Define function to replace string values with integers values
    def changeOwnership(ownership):
#        if ownership == "RENT":
 #           return 1
  #      elif ownership == "OWN":return 2
        elif ownership == "MORTGAGE":
            return 0
    # Transform Ownership column
    risk_df['person_home_ownership'] = risk_df['person_home_ownership'].apply(changeOwnership)

    # Define function to replace string values with integers values
    def changeLoanIntent(intent):
        if intent == "PERSONAL":
            return 0
        elif intent == "EDUCATION":
            return 1
        elif intent == "MEDICAL":
            return 2
        elif intent == "VENTURE":
            return 3
        elif intent == "DEBTCONSOLIDATION":
            return 4  
    # Transform Loan_Intent column
    risk_df['loan_intent'] = risk_df['loan_intent'].apply(changeLoanIntent)

    # Define function to replace string values with integers values
    def changeLoanGrade(grade):
        if grade == "F":
            return 0
        elif grade == "D":
            return 1
        elif grade == "C":
            return 2
        elif grade == "B":
            return 3
        elif grade == "A":
            return 4
        else:
            return -1
    # Transform Loan_Grade column
    risk_df['loan_grade'] = risk_df['loan_grade'].apply(changeLoanGrade)
    risk_df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status
0,22,59000,1.0,123.0,0.0,1,35000,16.02,1
1,21,9600,2.0,5.0,1.0,3,1000,11.14,0
2,25,9600,0.0,1.0,2.0,2,5500,12.87,1
3,23,65500,1.0,4.0,2.0,2,35000,15.23,1
4,24,54400,1.0,8.0,2.0,2,35000,14.27,1

In [83]:
X = risk_df.drop(columns=['loan_status']).values
#X = pd.get_dummies(risk_df.drop('loan_status', axis=1))
y = risk_df["loan_status"].values
y = y.reshape(-1, 1)
#X = X.reshape(-1, 1)

In [93]:
y.shape

(32581, 1)

In [85]:
# Creating training, validation, and testing sets
from sklearn.model_selection import train_test_split

# Create training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

#X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, random_state=1)

In [86]:
# Import the StandardScaler from sklearn
from sklearn.preprocessing import StandardScaler

# Create scaler instance
X_scaler = StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

StandardScaler()

In [87]:
# transform the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [88]:
# Import Keras modules for model creation
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [94]:
number_inputs = 8
number_hidden_nodes = 69

model = Sequential()

model.add(Dense(units=number_hidden_nodes, activation="relu", input_dim=number_inputs))
# Output layer
number_classes = 1

model.add(Dense(units=number_classes, activation="sigmoid"))

In [95]:
# Model set-up
#number_input_features = 15
#hidden_nodes_layer1 = 15
#hidden_nodes_layer2 = 7

# Define the LSTM RNN model
#model = Sequential()

# Layer 1
#model.add(
 #   Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
#)

# Layer 2
#model.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#model.add(Dense(1, activation="sigmoid"))

In [96]:
# Summarize the model
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 69)                621
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 70
=================================================================
Total params: 691
Trainable params: 691
Non-trainable params: 0
_________________________________________________________________

In [97]:
# Compile model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [98]:
# Training the model
# Fitting the model with linear dummy data
model = model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
764/764 [==============================] - 1s 778us/step - loss: nan - accuracy: 0.7814
Epoch 2/100
764/764 [==============================] - 1s 798us/step - loss: nan - accuracy: 0.7814
Epoch 3/100
764/764 [==============================] - ETA: 0s - loss: nan - accuracy: 0.781 - 1s 791us/step - loss: nan - accuracy: 0.7814
Epoch 4/100
764/764 [==============================] - 1s 856us/step - loss: nan - accuracy: 0.7814
Epoch 5/100
764/764 [==============================] - 1s 882us/step - loss: nan - accuracy: 0.7814
Epoch 6/100
764/764 [==============================] - 1s 757us/step - loss: nan - accuracy: 0.7814
Epoch 7/100
764/764 [==============================] - 1s 693us/step - loss: nan - accuracy: 0.7814
Epoch 8/100
764/764 [==============================] - 1s 769us/step - loss: nan - accuracy: 0.7814
Epoch 9/100
764/764 [==============================] - 1s 697us/step - loss: nan - accuracy: 0.7814
Epoch 10/100
764/764 [==============================] - 1s 727us/step - loss: nan - accuracy: 0.7814
Epoch 11/100
764/764 [==============================] - 1s 704us/step - loss: nan - accuracy: 0.7814
Epoch 12/100
764/764 [==============================] - 1s 726us/step - loss: nan - accuracy: 0.7814
Epoch 13/100
764/764 [==============================] - 1s 807us/step - loss: nan - accuracy: 0.7814
Epoch 14/100
764/764 [==============================] - 1s 837us/step - loss: nan - accuracy: 0.7814
Epoch 15/100
764/764 [==============================] - 1s 841us/step - loss: nan - accuracy: 0.7814
Epoch 16/100
764/764 [==============================] - 1s 745us/step - loss: nan - accuracy: 0.7814
Epoch 17/100
764/764 [==============================] - 1s 834us/step - loss: nan - accuracy: 0.7814
Epoch 18/100
764/764 [==============================] - 1s 837us/step - loss: nan - accuracy: 0.7814
Epoch 19/100
764/764 [==============================] - 1s 745us/step - loss: nan - accuracy: 0.7814
Epoch 20/100
764/764 [==============================] - 1s 810us/step - loss: nan - accuracy: 0.7814
Epoch 21/100
764/764 [==============================] - 1s 798us/step - loss: nan - accuracy: 0.7814
Epoch 22/100
764/764 [==============================] - 1s 828us/step - loss: nan - accuracy: 0.7814
Epoch 23/100
764/764 [==============================] - 1s 866us/step - loss: nan - accuracy: 0.7814
Epoch 24/100
764/764 [==============================] - 1s 886us/step - loss: nan - accuracy: 0.7814
Epoch 25/100
764/764 [==============================] - 1s 813us/step - loss: nan - accuracy: 0.7814
Epoch 26/100
764/764 [==============================] - 1s 726us/step - loss: nan - accuracy: 0.7814
Epoch 27/100
764/764 [==============================] - 1s 839us/step - loss: nan - accuracy: 0.7814
Epoch 28/100
764/764 [==============================] - 1s 768us/step - loss: nan - accuracy: 0.7814
Epoch 29/100
764/764 [==============================] - 1s 724us/step - loss: nan - accuracy: 0.7814
Epoch 30/100
764/764 [==============================] - 1s 780us/step - loss: nan - accuracy: 0.7814
Epoch 31/100
764/764 [==============================] - 1s 804us/step - loss: nan - accuracy: 0.7814
Epoch 32/100
764/764 [==============================] - 1s 839us/step - loss: nan - accuracy: 0.7814
Epoch 33/100
764/764 [==============================] - 1s 838us/step - loss: nan - accuracy: 0.7814
Epoch 34/100
764/764 [==============================] - 1s 887us/step - loss: nan - accuracy: 0.7814
Epoch 35/100
764/764 [==============================] - 1s 788us/step - loss: nan - accuracy: 0.7814
Epoch 36/100
764/764 [==============================] - 1s 790us/step - loss: nan - accuracy: 0.7814
Epoch 37/100
764/764 [==============================] - 1s 789us/step - loss: nan - accuracy: 0.7814 0s - loss: nan - accuracy: 0.78
Epoch 38/100
764/764 [==============================] - 1s 857us/step - loss: nan - accuracy: 0.7814
Epoch 39/100
764/764 [==============================] - 1s 820us/step - loss: nan - accuracy: 0.7814
Epoch 40/100
764/764 [==============================] - 1s 779us/step - loss: nan - accuracy: 0.7814
Epoch 41/100
764/764 [==============================] - 1s 829us/step - loss: nan - accuracy: 0.7814
Epoch 42/100
764/764 [==============================] - 1s 810us/step - loss: nan - accuracy: 0.7814
Epoch 43/100
764/764 [==============================] - 1s 808us/step - loss: nan - accuracy: 0.7814
Epoch 44/100
764/764 [==============================] - 1s 713us/step - loss: nan - accuracy: 0.7814
Epoch 45/100
764/764 [==============================] - 1s 763us/step - loss: nan - accuracy: 0.7814
Epoch 46/100
764/764 [==============================] - 1s 775us/step - loss: nan - accuracy: 0.7814
Epoch 47/100
764/764 [==============================] - 1s 876us/step - loss: nan - accuracy: 0.7814
Epoch 48/100
764/764 [==============================] - 1s 795us/step - loss: nan - accuracy: 0.7814
Epoch 49/100
764/764 [==============================] - 1s 840us/step - loss: nan - accuracy: 0.7814
Epoch 50/100
764/764 [==============================] - 1s 781us/step - loss: nan - accuracy: 0.7814
Epoch 51/100
764/764 [==============================] - 1s 872us/step - loss: nan - accuracy: 0.7814
Epoch 52/100
764/764 [==============================] - 1s 744us/step - loss: nan - accuracy: 0.7814
Epoch 53/100
764/764 [==============================] - 1s 753us/step - loss: nan - accuracy: 0.7814
Epoch 54/100
764/764 [==============================] - 1s 818us/step - loss: nan - accuracy: 0.7814
Epoch 55/100
764/764 [==============================] - 1s 871us/step - loss: nan - accuracy: 0.7814
Epoch 56/100
764/764 [==============================] - 1s 713us/step - loss: nan - accuracy: 0.7814
Epoch 57/100
764/764 [==============================] - 1s 815us/step - loss: nan - accuracy: 0.7814
Epoch 58/100
764/764 [==============================] - 1s 847us/step - loss: nan - accuracy: 0.7814
Epoch 59/100
764/764 [==============================] - 1s 797us/step - loss: nan - accuracy: 0.7814
Epoch 60/100
764/764 [==============================] - 1s 731us/step - loss: nan - accuracy: 0.7814
Epoch 61/100
764/764 [==============================] - 1s 744us/step - loss: nan - accuracy: 0.7814
Epoch 62/100
764/764 [==============================] - 1s 676us/step - loss: nan - accuracy: 0.7814
Epoch 63/100
764/764 [==============================] - 1s 844us/step - loss: nan - accuracy: 0.7814
Epoch 64/100
764/764 [==============================] - 1s 782us/step - loss: nan - accuracy: 0.7814
Epoch 65/100
764/764 [==============================] - 1s 752us/step - loss: nan - accuracy: 0.7814
Epoch 66/100
764/764 [==============================] - 1s 725us/step - loss: nan - accuracy: 0.7814
Epoch 67/100
764/764 [==============================] - 1s 755us/step - loss: nan - accuracy: 0.7814
Epoch 68/100
764/764 [==============================] - 1s 764us/step - loss: nan - accuracy: 0.7814
Epoch 69/100
764/764 [==============================] - 1s 737us/step - loss: nan - accuracy: 0.7814
Epoch 70/100
764/764 [==============================] - 1s 713us/step - loss: nan - accuracy: 0.7814
Epoch 71/100
764/764 [==============================] - 1s 813us/step - loss: nan - accuracy: 0.7814
Epoch 72/100
764/764 [==============================] - 1s 807us/step - loss: nan - accuracy: 0.7814
Epoch 73/100
764/764 [==============================] - 1s 789us/step - loss: nan - accuracy: 0.7814
Epoch 74/100
764/764 [==============================] - 1s 841us/step - loss: nan - accuracy: 0.7814
Epoch 75/100
764/764 [==============================] - 1s 709us/step - loss: nan - accuracy: 0.7814
Epoch 76/100
764/764 [==============================] - 1s 782us/step - loss: nan - accuracy: 0.7814
Epoch 77/100
764/764 [==============================] - 1s 753us/step - loss: nan - accuracy: 0.7814
Epoch 78/100
764/764 [==============================] - 1s 749us/step - loss: nan - accuracy: 0.7814
Epoch 79/100
764/764 [==============================] - 1s 738us/step - loss: nan - accuracy: 0.7814
Epoch 80/100
764/764 [==============================] - 1s 868us/step - loss: nan - accuracy: 0.7814
Epoch 81/100
764/764 [==============================] - 1s 829us/step - loss: nan - accuracy: 0.7814
Epoch 82/100
764/764 [==============================] - 1s 862us/step - loss: nan - accuracy: 0.7814
Epoch 83/100
764/764 [==============================] - 1s 714us/step - loss: nan - accuracy: 0.7814
Epoch 84/100
764/764 [==============================] - 1s 756us/step - loss: nan - accuracy: 0.7814
Epoch 85/100
764/764 [==============================] - 1s 725us/step - loss: nan - accuracy: 0.7814
Epoch 86/100
764/764 [==============================] - 1s 814us/step - loss: nan - accuracy: 0.7814
Epoch 87/100
764/764 [==============================] - 1s 863us/step - loss: nan - accuracy: 0.7814
Epoch 88/100
764/764 [==============================] - 1s 817us/step - loss: nan - accuracy: 0.7814
Epoch 89/100
764/764 [==============================] - 1s 760us/step - loss: nan - accuracy: 0.7814
Epoch 90/100
764/764 [==============================] - 1s 784us/step - loss: nan - accuracy: 0.7814
Epoch 91/100
764/764 [==============================] - 1s 784us/step - loss: nan - accuracy: 0.7814
Epoch 92/100
764/764 [==============================] - 1s 766us/step - loss: nan - accuracy: 0.7814
Epoch 93/100
764/764 [==============================] - 1s 853us/step - loss: nan - accuracy: 0.7814 0s - loss: nan - accuracy: 0.78
Epoch 94/100
764/764 [==============================] - 1s 797us/step - loss: nan - accuracy: 0.7814
Epoch 95/100
764/764 [==============================] - 1s 819us/step - loss: nan - accuracy: 0.7814
Epoch 96/100
764/764 [==============================] - 1s 810us/step - loss: nan - accuracy: 0.7814
Epoch 97/100
764/764 [==============================] - 1s 858us/step - loss: nan - accuracy: 0.7814
Epoch 98/100
764/764 [==============================] - 1s 775us/step - loss: nan - accuracy: 0.7814
Epoch 99/100
764/764 [==============================] - 1s 739us/step - loss: nan - accuracy: 0.7814
Epoch 100/100
764/764 [==============================] - 1s 860us/step - loss: nan - accuracy: 0.7814